@font-face {
    font-family: Runic;
    src: url('/Personal-Projets/DND-Text/Fonts/NotoSansRunic/NotoSansRunic-Regular.ttf');
}
.title{
    width: 20%;
    margin: 0px auto;
    text-align: center;
}
.content textarea{
    width: 49%;
    height: 220px;
}
.content{
    width: 100%
}