.title{
    width: 20%;
    margin: 0px auto;
    text-align: center;
}
.content textarea{
    width: 49%;
    height: 220px;
    font-size: 32px;
}
.content{
    width: 100%
}
.textbox-labels div{
    width: 50%;
    float: left;
}
.font-selector{
    width: 210px;
    margin: 0px auto;
}