@font-face {
    font-family: 'lokharic';
    src: url('/Personal-Projects/DND-Text/Fonts/lokharic/Iokharic-dqvK.ttf')
}
@font-face {
    font-family: 'lokharic-bold';
    src: url('/Personal-Projects/DND-Text/Fonts/lokharic/IokharicBold-Plor.ttf')
}
@font-face {
    font-family: 'lokharic-italic';
    src: url('/Personal-Projects/DND-Text/Fonts/lokharic/IokharicItalic-XMdd.ttf')
}
@font-face {
    font-family: 'lokharic-bolditalic';
    src: url('/Personal-Projects/DND-Text/Fonts/lokharic/IokharicBoldItalic-LGmZ.ttf')
}
@font-face {
    font-family: 'Baybayin-Doctrina';
    src: url('/Personal-Projects/DND-Text/Fonts/baybain_doctrina/Baybayin Doctrina.otf')
}
@font-face {
    font-family: 'Baybayin-Doctrina-Clear';
    src: url('/Personal-Projects/DND-Text/Fonts/baybain_doctrina/BaybayinDoctrinaClear.ttf')
}